import { SchematicTestRunner, UnitTestTree } from '@angular-devkit/schematics/testing';
import * as path from 'path';
import { Schema as Options } from './schema';

describe('<%= name %> Schematic', () => {
  
});
