import {
  Rule,
  SchematicContext,
  SchematicsException,
  Tree,
} from '@angular-devkit/schematics';
import { NodePackageInstallTask } from '@angular-devkit/schematics/tasks';
import { Schema as Options } from './schema';

export function ngAdd(options: Options, context: SchematicContext): Rule {
  return (host: Tree) => {
      context.addTask(new NodePackageInstallTask());
      return host;
  };
}
